<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noticeMapper">
	<select id="noticeSelect" resultType="noticeVO" parameterType="BoardVO">
		select * from notice where num = #{num}
	</select>
	<delete id="noticeDelete" parameterType="noticeVO">
		delete notice where num = #{num}	
	</delete>
	<update id="noticeUpdate" parameterType="BoardVO">
		update notice set title = #{title},
		writer=#{writer},contents=#{contents} where num = #{num}
	</update>
	<insert id="noticeWrite" parameterType="noticeVO">
		insert into notice values
		(board_seq.nextval,#{title},#{writer},#{contents},sysdate,0)
	</insert>
	<select id="noticeCount" resultType="Integer"
		parameterType="Pager">
		select count(num) from notice
		<choose>
			<when test="kind == 'kindTitle'">
				where title like '%'||#{search}||'%'
			</when>
			<when test="kind == 'kindContents'">
				where contents like '%'||#{search}||'%'
			</when>
			<otherwise>
				where writer like '%'||#{search}||'%'
			</otherwise>
		</choose>
	</select>
	<select id="noticeList" resultType="NoticeVO"
		parameterType="Pager">
		select * from (select N.*, rownum R from (select * from notice
		<choose>
			<when test="kind == 'kindSubject'">
				where title like '%'||#{search}||'%'
			</when>
			<when test="kind == 'kindContents'">
				where contents like '%'||#{search}||'%'
			</when>
			<otherwise>
				where writer like '%'||#{search}||'%'
			</otherwise>
		</choose>
		order by num desc ) N)
		where R between #{startRow} and #{lastRow}
	</select>
</mapper>